{% extends 'RGS/base_RGS.html' %}

{% load static %}

{% block title %}<title>RGS: Manual Control Flight</title>{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- Include the JavaScript file for AJAX requests -->
<script type="text/javascript" src="{% static 'RGS/js/manual_control.js' %}"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<br/>
<style type="text/css">
    #tab_manual_control {
        border-bottom-style: solid;
        border-bottom-color: white;}
    .tox.tox-tinymce-aux {
        z-index: 999999999;
    }
    .slider{
        width: 80%;
        margin: 15px auto;
    }
</style>
<div class="wrapper" id="wrapper"> 
    <div class="container-fluid" id="content">
        <div class="container-fluid" id="module" style="max-width: 100%; width: 100%; margin: 2px">
            <br/>
            <h2 class="display-3">Manual Control</h2>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Flight Controls:</h4>
                    <button id="btnMoveNorth" class="btn btn-info">Move North</button>
                    <button id="btnMoveSouth" class="btn btn-info">Move South</button>
                    <button id="btnMoveEast" class="btn btn-info">Move East</button>
                    <button id="btnMoveWest" class="btn btn-info">Move West</button>
                    <button id="btnMoveUp" class="btn btn-info">Move Up</button>
                    <button id="btnMoveDown" class="btn btn-info">Move Down</button>
                    <button id="btnUpdate" class="btn btn-warning">Update Data</button>
                    <br/>
                    <button id="btnArm" class="btn btn-success">Arm</button>
                    <button id="btnDisarm" class="btn btn-danger">Disarm</button>
                    <br/>
                    <label for="takeOffAltitude">Take-off altitude:</label>
                    <input type="number" id="takeOffAltitude" name="takeOffAltitude">
                    <button id="btnTakeOff" class="btn btn-primary">Take Off</button>
                    <br/>
                    <label for="altitudeSlider">Altitude:</label>
                    <div id="altitudeSlider" class="slider"></div>
                    <label for="velocitySlider">Velocity:</label>
                    <div id="velocitySlider" class="slider"></div>
                </div>
                <div class="col-sm-6">
                    <h4>Current State:</h4>
                    <ul>
                        <li>Is Armed: <span id="is_armed"></span></li>
                        <li>Altitude: <span id="altitude"></span></li>
                        <li>Velocity: <span id="velocity"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}