.btn.btn-outline-primary {
    color: var(--noactive-bg-color);
    background: transparent none;
    border-color: var(--noactive-bg-color);
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--noactive-bg-color);
    border-color: var(--noactive-bg-color);
}

.btn.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: var(--noactive-bg-color);
    border-color: var(--noactive-bg-color);
}

.btn.btn-outline-primary.focus, .login:focus, .login:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem var(--active-bg-color);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--noactive-bg-color);
}

/* Jumbotron */

.jumbotron {
    margin-bottom: 20px;
    /*height: fit-content;*/
    min-height: inherit !important;
    /*overflow: auto;*/
}

#logo{
    display: absolute;
    width: 70% !important;
    height: auto !important;
    margin-left: 17%; 
    margin-top: 17%; 
}

#module{
    height: 100%;
    margin: 0px !important;
}

.contentJumbo {
     height: fit-content !important;
}

#cont_news{
    overflow: auto;
    height: fit-content !important;
    width: 100%;
}

#cont_history{
    overflow: auto;
    height: fit-content !important;
    width: 100%;
}

#cont_descr{
    overflow: auto;
    height: fit-content !important;
    width: 100%;
}